fastapi
uvicorn
python-multipart
python-dotenv
itsdangerous
google-generativeai
groq
sqlalchemy<2
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
httpx
yt-dlp
celery
redis
deepgram
aiofiles
pillow
authlib
email-validator
